<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      <header class="container grid-xl landing-header">
        <div class="columns pt-12 pb-8">
          <div class="column col-11 col-mx-auto text-center">
			<a href="{{ site.url }}">
			<img style="max-width: 100%;" src="{{ site.baseurl }}/assets/{{ site.brand_logo }}"/>
			</a>
            <h4 class="text-secondary">{{ site.subheader }}</h4>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>